    {% extends "base.html" %}


    {% block content %}
    <h2 class="btn btn-secondary btn-lg"> Ιστορικό μεταφορών
    <br>
    Σύνολο:{{ page_obj.paginator.count }} Μεταφορές
    </h2>



    <div class="input-group col-md-3 mb-3">

        <div class="input-group-append">
    <form action="{% url 'Copiers_Log:search_copiers_log' %}" method="get">

        <input name="q" placeholder="Αναζήτηση..." type="text" >
        <button class="btn btn-outline-success my-2 my-sm-0" name="Αναζήτηση" value="Αναζήτηση" type="submit">Αναζήτηση</button>

    </form>
        </div>
    </div>


    <table class="table table-hover table-bordered justify-content-center">
        <thead>
        <tr class="table-success" align="center">
            <th><label about=""> Μηχάνημα </label></th>
            <th>Ημερομηνία</th>
            <th>Προηγούμενος Πελάτης</th>
            <th>Νέος Πελάτης</th>
            <th>Σημειώσεις</th>


        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr align="center">
            <td><a role="button"  class="btn btn-secondary" href="../machines/{{  obj.ID_μηχανήματος.id }} " name="id">{{ obj.Μηχάνημα }}</a> </td>
            <td><a  name="id">{{ obj.Ημερομηνία}} </a> </td>
            <td><a class="btn btn-info" role="button" href="{{ obj.Προηγούμενος_Πελάτης.ID }}" name="id">{{ obj.Προηγούμενος_Πελάτης }}</a> </td>
            <td><a class="btn btn-primary" role="button" href="{{ obj.Νέος_Πελάτης.ID }}"  name="id">{{ obj.Νέος_Πελάτης }}</a> </td>
            <td><a  name="id">{{ obj.Σημειώσεις}} </a></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>




    {% if page_obj.paginator.num_pages > 1 %}


    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="pagination-action" href="?page=1">
                    <svg class="bi bi-caret-left-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
                    </svg>
                </a>
            </li>

            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Προηγούμενο
                </a>
            </li>

            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if num == page_obj.number %}
            <li class="page-item active">

                <a class="page-link" href="?page={{ num }}">
                    {{ num }}
                </a>
                <span class="sr-only">(current)</span>
                </span>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">
                    {{ num }}
                </a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    Επόμενη
                </a>
            </li>
            <li class="page-item">

                <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                    <svg class="bi bi-caret-right-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                    </svg>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    {% endif %}


    <p>
        <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

    </p>
    <script>
function goBack() {
  window.history.back();
}
</script>


    {% endblock %}




