/.idea/
/db.sqlite3
/djangoproject.conf

/3. ΚΑΙΝΟΥΡΙΑ_ΑΠΟΘΗΚΗ.db
/Service_book.db
SparePartsDb.py
/__pycache__/

Calendar/__pycache__/
.vscode/settings.json
Calendar/__pycache__/admin.cpython-37.pyc
Calendar/__pycache__/forms.cpython-37.pyc
Calendar/__pycache__/urls.cpython-37.pyc
Calendar/__pycache__/views.cpython-37.pyc
Calendar/templatetags/__pycache__/string_to_date.cpython-37.pyc
Calendar/migrations/__pycache__/0034_auto_20200417_2055.cpython-37.pyc
Calendar/migrations/__pycache__/0035_auto_20200417_2059.cpython-37.pyc
Calendar/migrations/__pycache__/0036_calendar_start_time.cpython-37.pyc
Calendar/migrations/__pycache__/0037_remove_calendar_start_time.cpython-37.pyc
Calendar/migrations/__pycache__/0038_calendar_file.cpython-37.pyc
Calendar/migrations/__pycache__/0039_auto_20200422_2243.cpython-37.pyc
Calendar/migrations/__pycache__/0040_auto_20200422_2246.cpython-37.pyc
Calendar/migrations/__pycache__/0041_auto_20200422_2259.cpython-37.pyc
Calendar/migrations/__pycache__/0042_auto_20200422_2305.cpython-37.pyc
Calendar/migrations/__pycache__/0043_auto_20200422_2308.cpython-37.pyc
Calendar/migrations/__pycache__/0044_auto_20200422_2318.cpython-37.pyc
Calendar/migrations/__pycache__/0045_auto_20200512_0110.cpython-37.pyc
Calendar/migrations/__pycache__/0046_auto_20200512_0112.cpython-37.pyc
Calendar/templatetags/__pycache__/__init__.cpython-37.pyc
customers/__pycache__/models.cpython-37.pyc
customers/__pycache__/views.cpython-37.pyc
login/__pycache__/urls.cpython-37.pyc
login/__pycache__/views.cpython-37.pyc
login/__pycache__/urls.cpython-37.pyc
login/__pycache__/views.cpython-37.pyc

Calendar/migrations/0034_auto_20200417_2055.py
Calendar/migrations/0035_auto_20200417_2059.py
Calendar/migrations/0036_calendar_start_time.py
Calendar/migrations/0037_remove_calendar_start_time.py
Calendar/migrations/0038_calendar_file.py
Calendar/migrations/0039_auto_20200422_2243.py
Calendar/migrations/0040_auto_20200422_2246.py
Calendar/migrations/0041_auto_20200422_2259.py
Calendar/migrations/0042_auto_20200422_2305.py
Calendar/migrations/0043_auto_20200422_2308.py
Calendar/migrations/0044_auto_20200422_2318.py
Calendar/migrations/0045_auto_20200512_0110.py
Calendar/migrations/0046_auto_20200512_0112.py
Calendar/migrations/0047_auto_20200527_2218.py
Calendar/migrations/__pycache__/0047_auto_20200527_2218.cpython-37.pyc
Media/
VS_Code_WorkSpace.code-workspace
customers/migrations/0053_auto_20200527_2218.py
customers/migrations/__pycache__/0053_auto_20200527_2218.cpython-37.pyc
services/migrations/0046_services_file.py
services/migrations/0047_auto_20200512_0110.py
services/migrations/0048_auto_20200527_2218.py
services/migrations/__pycache__/0046_services_file.cpython-37.pyc
services/migrations/__pycache__/0047_auto_20200512_0110.cpython-37.pyc
services/migrations/__pycache__/0048_auto_20200527_2218.cpython-37.pyc
spareparts/__pycache__/forms.cpython-37.pyc
spareparts/migrations/0019_auto_20200512_0110.py
spareparts/migrations/0020_auto_20200527_2218.py
spareparts/migrations/__pycache__/0019_auto_20200512_0110.cpython-37.pyc
spareparts/migrations/__pycache__/0020_auto_20200527_2218.cpython-37.pyc
warehouse/__pycache__/
warehouse/migrations/0001_initial.py
warehouse/migrations/__pycache__/
warehouse/static/
/static/bootstrap/
static/fontawesome/
static/jquery/
static/popper/
