{% extends "base.html" %}

{% load string_to_date %}
{% block content %}

<h1 class="btn btn-warning btn-lg">
    <em class="fas fa-calendar-alt"> Τρέχουσες εργασίες</em>
</h1>



<table id="data-table" class="table-sm  table-hover table-bordered" >

    <thead>

    <tr class="table-success">

        <th>Ημερομηνία</th>
        <th>Σκοπός</th>
        <th>Πελάτης</th>
        <th>Μηχάνημα</th>
        <th>Ενέργειες</th>
           <th>Τεχνικός</th>
            <th>Επείγων</th>
            <th>ΔΤΕ</th>
    </tr>
    </thead>

    <tbody>

{% for obj in object_list %}
    <tr>

        <td><a href="{{ obj.id }} " > <span style="display:none">{{ obj.Ημερομηνία |string_to_timestamp }}</span>  {{ obj.Ημερομηνία }}</a></td>
        <td><a href=" {{ obj.id }}" >{{ obj.Σκοπός}} </a></td>
        <td><a class="btn btn-primary" role="button" href=" {% url 'customers:edit_customer' obj.Customer_ID %}">
             {{ obj.Πελάτης }}</a> </td>
        <td><a role="button"  class="btn btn-secondary" href=" {% url 'machines:edit_machine' obj.Copier_ID_id %}">
            {{ obj.Μηχάνημα }} </a> </td>

        <td> {{obj.Ενέργειες}} </td>
           <td>{{ obj.Τεχνικός}} </td>
         <td>{{ obj.Επείγων}} </td>
          <td>{{ obj.ΔΤΕ}} </td>
 {% endfor %}
    </tr>
    </tbody>

    <tfoot>

    <tr class="table-success">

        <th>Ημερομηνία</th>
        <th>Σκοπός</th>
        <th>Πελάτης</th>
        <th>Μηχάνημα</th>
        <th>Ενέργειες</th>
           <th>Τεχνικός</th>
         <th>Επείγων</th>
        <th>ΔΤΕ</th>

    </tr>
   </tfoot>
</table>



{% if page_obj.paginator.num_pages > 1 %}

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="pagination-action" href="?page=1">
                <svg class="bi bi-caret-left-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 00-1.659-.753l-5.48 4.796a1 1 0 000 1.506z"/>
                </svg>
            </a>
        </li>

        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                Προηγούμενο
            </a>
        </li>

        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
        <li class="page-item active">

            <a class="page-link" href="?page={{ num }}">
                {{ num }}
            </a>
            <span class="sr-only">(current)</span>
            </span>
        </li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li class="page-item">
            <a class="page-link" href="?page={{ num }}">
                {{ num }}
            </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                Επόμενη
            </a>
        </li>
        <li class="page-item">

            <a class="pagination-action" href="?page={{ page_obj.paginator.num_pages }}">
                <svg class="bi bi-caret-right-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 011.659-.753l5.48 4.796a1 1 0 010 1.506z"/>
                </svg>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endif %}


<p>
    <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

</p>
<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock %}



