{% extends 'base.html' %}
{% block content %}

<h1 class="btn btn-warning btn-lg">
    <i class="fas fa-calendar-alt">  Προσθήκη εργασίας
    </i>
</h1>

 {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


{% load crispy_forms_tags %}
<form action="{% url 'Calendar:add_calendar' form.Copier_ID.value  %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<table class="table table-secondary table-bordered">


    <tr class="table-secondary" align="center">
    <td colspan="2">

        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
            {{ form.Ημερομηνία|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                <a class="btn btn btn-info" role="button" href="/customers/{{ form.Customer_ID.value }}">
                    {{ form.Πελάτης|as_crispy_field }}
                </a>

            </div>
            <div class="form-group col-md-2 mb-0">
                <a class="btn  btn-secondary" role="button"  href="/machines/{{ form.Copier_ID.value }}">
            {{ form.Μηχάνημα|as_crispy_field }}
                </a>
            </div>
            <div class="form-group col-md-2 mb-0">
            {{ form.Σκοπός|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
            {{ form.Ενέργειες|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.Ημ_Ολοκλ|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form.Κατάσταση|as_crispy_field }}
            </div>
        </div>
    </td>
    </tr>
    <tr class="table-secondary" align="center">
        <td>
            {{ form.Τεχνικός|as_crispy_field }}

            {{ form.Επείγων|as_crispy_field }}

            {{ form.Τηλέφωνο|as_crispy_field }}

            {{ form.Μετρητής|as_crispy_field }}

            {{ form.Επ_Service|as_crispy_field }}

            {{ form.ΔΤΕ|as_crispy_field }}

            {{ form.Price|as_crispy_field }}

        </td>
            <td>
                {{ form.Σημειώσεις|as_crispy_field }}
                <button type="button" class="btn btn-primary" onclick="goBack()">Πίσω</button>
                <input type="file" name="file" multiple />
                <button type="submit" class="btn btn-success">Αποθήκευση</button>

            </td>


        <tr class="table-secondary" align="center">
        <td align="left" colspan="2">
            <div class="form-row">



                <div class="form-group col-md-4 mb-0">
                    {{ form.Copier_ID|as_crispy_field }}

                </div>

                <div class="form-group col-md-2 mb-0">
                        {{ form.Service_ID|as_crispy_field }}
                </div>

                <div class="form-group col-md-2 mb-0">
                    {{ form.Customer_ID|as_crispy_field }}
                </div>


            </div>

        </td>
            </tr>
        </table>

    </tr>

</table>
</form>

<script>
function goBack() {
  window.history.back();
}
</script>

{% endblock content %}

