{% extends 'base.html' %}
{% block content %}



<a class="btn btn-light btn-lg rounded-pill " href="{% url 'spareparts:spareparts' %}">
    <i class="fas fa-calendar-alt"> </i>
     Προσθήκη ανταλλακτικού
</a>
<div class="container-fluid">
<p></p>

 {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


{% load crispy_forms_tags %}
<form  method="POST" enctype="multipart/form-data" id=add_spareparts_form>
    {% csrf_token %}
<table class="table table-secondary table-bordered">


    <tr class="table-secondary" align="center">
    <td colspan="2">

        <div class="form-row">
            <div class="form-group col-md-2 mb-0">
            {{ form.PARTS_NR}}
            </div>
            <div class="form-group col-md-2 mb-0">
                <a class="btn btn btn-primary" role="button" href="/customers/{{ form.Customer_ID.value }}">
                    {{ form.Customer_ID|as_crispy_field  }}
                </a>

            </div>
            <div class="form-group col-md-2 mb-0">
                <a class="btn  btn-secondary" role="button"  href="/machines/{{ form.Copier_ID.value }}">
            {{ form.ΜΗΧΑΝΗΜΑ }}
                </a>
            </div>
            <div class="form-group col-md-2 mb-0">
            {{ form.ΠΕΡΙΓΡΑΦΗ|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
            {{ form.ΚΩΔΙΚΟΣ|as_crispy_field }}
            </div>
            <div class="form-group col-md-2 mb-0">
                {{ form.ΤΕΜΑΧΙΑ|as_crispy_field }}
            </div>
            <div class="form-group col-md-1 mb-0">
                {{ form.Service_ID|as_crispy_field }}
            </div>
        </div>
    </td>
    </tr>
    <tr class="table-secondary" align="center">
        <td>
     

        </td>
            <td>
                {{ form.ΠΑΡΑΤΗΡΗΣΗΣ|as_crispy_field }}
                <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>
                <button type="submit" class="btn btn-success">Αποθήκευση</button>

            </td>


        <tr class="table-secondary" align="center">
        <td align="left" colspan="2">
            <div class="form-row">



                <div class="form-group col-md-4 mb-0">
                    {{ form.Calendar_ID }}

                </div>




            </div>

        </td>
            </tr>
        </table>

    </tr>

</table>
</form>

<script>
function goBack() {
  window.history.back();
}
</script>
</div>
{% endblock content %}

