{% extends 'base.html' %}
{% block content %}
<form method="post">{% csrf_token %}

<div class="card">
  <div class="card-body">

      <h5 class="btn btn-danger  rounded-pill ">Είστε σίγουροι ότι θέλετε να διαγράψετε το </h5>


    <h5 class="card-title">{{ object }}</h5>
    <strong>PARTS_NR: </strong><p class="card-text">{{ object.PARTS_NR }}</p>
        <strong>ΠΕΡΙΓΡΑΦΗ: </strong><p class="card-text">{{ object.ΠΕΡΙΓΡΑΦΗ }}</p>
      <strong>ΚΩΔΙΚΟΣ: </strong><p class="card-text">{{ object.ΚΩΔΙΚΟΣ }}</p>
        <strong>Πελάτης: </strong><p class="card-text">{{ object.Customer_ID }}</p>
      <button type="button" class="card-link btn btn-info" onclick="goBack()">Πίσω</button>
      <input type="submit" value="Διαγραφή" class="card-link btn btn-outline-danger">


  </div>
</div>

</form>
<script>
function goBack() {
  window.history.back();
}
</script>
{% endblock %}

