{% extends "base.html" %}


{% block content %}

<h2> Ανταλλακτικά </h2>


<table class="table table-hover table-bordered" id="data-table">

    <thead>

    <tr class="table-success">
        <th>PARTS_NR</th>
        <th>ΠΕΡΙΓΡΑΦΗ</th>
        <th>ΚΩΔΙΚΟΣ</th>
        <th>Πελάτης</th>
        <th>ΤΕΜΑΧΙΑ</th>
        <th>ΔΤΕ</th>
        <th>Service</th>
        <th>Κλήση</th>




    </tr>
    </thead>
    <tbody>

    {% for obj in object_list  %}
    <tr align="center">
        <td><a href=" {{ obj.id }}" name="id">{{ obj.PARTS_NR }}</a> </td>
        <td><a href=" {{ obj.id }}" name="id">{{ obj.ΠΕΡΙΓΡΑΦΗ|slice:":30" }}</a> </td>
        <td><a href=" {{ obj.id }}" name="id">{{ obj.ΚΩΔΙΚΟΣ }} </a> </td>
        <td><a class="btn btn-primary" role="button" href=" /customers/{{ obj.Customer_ID_id }}" name="id">{{ obj.Customer_ID }} </a></</td>
        <td><a href=" {{ obj.id }}" name="id">{{ obj.ΤΕΜΑΧΙΑ }}</a> </td>

        <td><a role="button" class="btn btn btn-dark btn-sm" href=" /services/{{ obj.Service_ID.id }}" >{{ obj.Service_ID.ΔΤΕ }} </a></td>

        <td><a role="button" class="btn btn btn-dark btn-sm" href=" /services/{{ obj.Service_ID.id }}" name="id">{{ obj.Service_ID.id }} </a></td>
        <td><a class="btn btn-warning" role="button" href=" /Calendar/{{ obj.Calendar_ID }}" name="id">{{ obj.Calendar_ID }} </a></td>

    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr class="table-success">
        <th>PARTS_NR </th>
        <th>ΠΕΡΙΓΡΑΦΗ</th>
        <th>ΚΩΔΙΚΟΣ</th>
        <th>Πελάτης</th>
        <th>ΤΕΜΑΧΙΑ</th>
          <th>ΔΤΕ</th>
        <th>Service</th>
        <th>Κλήση</th>
    </tr>

    </tfoot>
</table>


<p>
    <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

</p>
<script>
function goBack() {
  window.history.back();
}
</script>


{% endblock %}



