{% extends 'base.html' %}



{% block content %}


<a class="btn btn-light btn-lg rounded-pill" href="{% url 'customers:list_customers' %}">
    <i class="fas fa-user-plus"></i>  Προσθήκη πελάτη

</a>
<div class="container-fluid">
<p></p>

 {% if form.errors %}
    <div class="alert alert-danger alert-dismissible col-12 mx-1" role="alert">
        <div id="form_errors">
            {% for key, value in form.errors.items %}
                <span class="fieldWrapper">
                    {{ key }}:{{ value }}
                </span>
            {% endfor %}
        </div>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}


{% load crispy_forms_tags %}
<form action="{% url 'customers:add_customer' %}" method="POST">
    {% csrf_token %}

    <table class="table table-secondary table-bordered">

        <tr class="table-secondary" align="center">
            <td colspan="2">

                <div class="form-row">
                    <div class="form-group col-md-3 mb-0">
                        {{ form.Επωνυμία_Επιχείρησης|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">

                            {{ form.Ονοματεπώνυμο|as_crispy_field }}


                    </div>
                    <div class="form-group col-md-3 mb-0">

                            {{ form.Διεύθυνση|as_crispy_field }}

                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form.Πόλη|as_crispy_field }}
                    </div>
                    <div class="form-group col-md-2 mb-0">
                        {{ form.Περιοχή|as_crispy_field }}
                    </div>

                </div>
            </td>
        </tr>
        <tr class="table-secondary" align="center">
            <td>

                    {{ form.Τηλέφωνο|as_crispy_field }}


                    {{ form.Κινητό|as_crispy_field }}

                {{ form.Φαξ|as_crispy_field }}

                {{ form.E_mail|as_crispy_field }}

                {{ form.Ταχ_Κώδικας|as_crispy_field }}
                {{ form.Κατάσταση|as_crispy_field }}

            </td>
            <td>
                {{ form.Σημειώσεις|as_crispy_field }}
                <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>
                <button name="add_customer" type="submit" value="Αποθήκευση" class="btn btn-success">Αποθήκευση</button>

            </td>


        <tr class="table-secondary" align="center">
            <td align="left" colspan="2">
                <div class="form-row">

                </div>

            </td>
        </tr>
    </table>

    </tr>

    </table>
</form>

<script>
function goBack() {
  window.history.back();
}
</script>
</div>
{% endblock content %}




