{% extends "base.html" %}


{% block content %}


<h2 class="btn btn-light btn-lg rounded-pill"> <svg class="bi bi-people-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 100-6 3 3 0 000 6zm-5.784 6A2.238 2.238 0 015 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 005 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 100-5 2.5 2.5 0 000 5z" clip-rule="evenodd"/>
</svg>
     Πελάτες </h2>





<table class="table table-hover table-bordered" id="data-table">

    <thead>

    <tr class="table-success">
        <th><label about=""> Επωνυμία Επιχείρησης </label></th>
        <th>Ονοματεπώνυμο υπευθύνου</th>
        <th>Διεύθυνση</th>
        <th>Τηλέφωνο</th>
        <th>Κινητό</th>
           <th>Μηχάνηματα</th>
       <!--    <th>Σελίδες_πακέτου</th> -->
        <!--   <th>Κόστος_πακέτου</th> -->



     </tr>

     </thead>

     <tbody>


    {% for obj in object_list %}
     <tr>
         <td><a href=" {{ obj.id }}" name="Επωνυμία_Επιχείρησης">{{ obj.Επωνυμία_Επιχείρησης}} </a></td>
         <td><a href=" {{ obj.id }}" name="Ονοματεπώνυμο">{% if obj.Ονοματεπώνυμο %} {{ obj.Ονοματεπώνυμο}}{% else %}{% endif %}</a> </td>
         <td><a href=" {{ obj.id }}" name="Διεύθυνση">{% if obj.Διεύθυνση %}{{ obj.Διεύθυνση}} {% else %} {% endif %}</a> </td>
         <td><a href=" {{ obj.id }}" name="Τηλέφωνο">{{ obj.Τηλέφωνο}} </a></td>
         <td> {{obj.Κινητό}} </td>



        <td>
            {% for machine in obj.machines_set.all %}
            <li>
            <a role="button" class="btn btn-secondary" href="../machines/{{ machine.id }}" >{{ machine }}</a>

            </li>
            <br>
        {% endfor %}

        </td>




         {% endfor %}
      </tr>
      </tbody>
    <tfoot>
    <tr class="table-success">
        <th> Επωνυμία Επιχείρησης</th>
        <th>Ονοματεπώνυμο</th>
        <th>Διεύθυνση</th>
        <th>Τηλέφωνο</th>
        <th>Κινητό</th>
         <th>Μηχάνηματα</th>
       <!--    <th>Σελίδες_πακέτου</th> -->
        <!--   <th>Κόστος_πακέτου</th> -->
    </tr>
    </tfoot>

  </table>



<p>
    <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

</p>
<script>
function goBack() {
  window.history.back();
}
</script>

  {% endblock %}


