
{% extends "base.html" %}


{% block content %}



<a class="btn btn-light btn-lg rounded-pill" href="{% url 'customers:list_customers' %}">
      <em class="fas fa-user-times"></em>  Απενεργοποιημένοι πελάτες

</a>
<p></p>



<table class="table table-hover table-bordered" id="data-table">

    <thead>

    <tr class="table-success">
        <th><label about=""> Επωνυμία Επιχείρησης </label></th>
        <th>Ονοματεπώνυμο</th>
        <th>Διεύθυνση</th>
        <th>Τηλέφωνο</th>
        <th>Κινητό</th>
           <th>Μηχάνηματα</th>
       <!--    <th>Σελίδες_πακέτου</th> -->
        <!--   <th>Κόστος_πακέτου</th> -->



     </tr>

     </thead>

     <tbody>


    {% for obj in object_list %}
     <tr>
         <td><a href=" {{ obj.id }}" >{{ obj.Επωνυμία_Επιχείρησης}} </a></td>
         <td><a href=" {{ obj.id }}" >{% if obj.Ονοματεπώνυμο %} {{ obj.Ονοματεπώνυμο}}{% else %}{% endif %}</a> </td>
         <td><a href=" {{ obj.id }}" >{% if obj.Διεύθυνση %}{{ obj.Διεύθυνση}} {% else %} {% endif %}</a> </td>
         <td><a href=" {{ obj.id }}" >{{ obj.Τηλέφωνο}} </a></td>
         <td> {{obj.Κινητό}} </td>



        <td>
            {% for machine in obj.machines_set.all %}
            <li>
            <a role="button" class="btn btn-secondary" href="../machines/{{ machine.id }}" >{{ machine }}</a>

            </li>
            <br>
        {% endfor %}

        </td>




         {% endfor %}
      </tr>
      </tbody>
    <tfoot>
<tr class="table-success">
        <th> Επωνυμία Επιχείρησης</th>
        <th>Ονοματεπώνυμο</th>
        <th>Διεύθυνση</th>
        <th>Τηλέφωνο</th>
        <th>Κινητό</th>
         <th>Μηχάνηματα</th>
       <!--    <th>Σελίδες_πακέτου</th> -->
        <!--   <th>Κόστος_πακέτου</th> -->
</tr>
    </tfoot>

  </table>



<p>
    <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

</p>
<script>
function goBack() {
  window.history.back();
}
</script>

  {% endblock %}


