<!doctype html>
{% load static %}
<html lang="el">

<head>
    <title> Service Book</title>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- start -->
    <link rel="stylesheet" href="{% static 'fontawesome/5.13.0/css/all.css' %}">

    <!-- end -->

    <!-- DataTable -->
    <link rel="stylesheet" type="text/css" href="{% static 'DataTables/datatables.css' %}"/>


    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap-4.4.1/css/bootstrap.min.css' %}">

    <!--    Calendar -->
     <link rel="stylesheet" type="text/css" href="{% static 'Calendar/css/styles.css' %}">

</head>

<body style="background-color:#EFF0F1;">


{% include 'navbar.html' %}
<center>
 {% block content %}



    </center>
{% endblock content %}

{%  block js %}

 <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script
    src="{% static 'jquery/jquery-3.5.1/min.js' %}">
</script>

<script src="{% static 'popper/1.14.7/popper.js' %}"></script>


<script src="{% static 'bootstrap/bootstrap-4.4.1/js/bootstrap.min.js' %}"></script>



<!--  https://datatables.net/manual/installation  -->

<script type="text/javascript" src="{% static 'DataTables/datatables.js' %}"></script>

<script>

$(document).ready(function() {
    // Setup - add a text input to each footer cell

    $('#data-table tfoot th').each( function () {

        var title = $(this).text();

            $(this).html( '<input type="text" placeholder="Αναζήτηση '+title+'" />' );

    } );

    // DataTable

    var table =  $('#data-table').DataTable({
 "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
        "autoWidth": false,
        "processing": true,
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
    dom: 'B<"clear">lfrtip',
    buttons: {
        name: 'primary',
        buttons: [  {
            extend: 'copy',
            text: 'Αντιγραφή'
        },
        {
            extend: 'excel',
            text: 'Excel',
            exportOptions: {
                modifier: {
                    page: 'current'
                }
            }
        },

         'pdf', 'print', 'colvis',
        'colvisRestore' ]

    }
});

    // Apply the search
    table.columns().every( function () {

        var that = this;

        $( 'input', this.footer() ).on( 'keyup change clear', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );


</script>
{%  endblock js %}


</body>

</html>