

{% extends 'base.html' %}

{% block content %}
<h1> Home</h1>
{{ time }}
{% now "Y" as current_year %}
Copyright {{ current_year }}

<h3>Χρήστης</h3> {{request.user }}
<h3>Συνδεδεμένος χρήστης </h3> {{request.user.is_authenticated }}
<p>
    {{ my_text }}, {{ my_number }}

</p>
<ol>

        {% for my_list_item in my_list %}
            {% if my_list_item == "test"%}
                <li>{{ forloop.counter }}. {{ my_list_item|add:" this is test" }}</li>
            {% elif my_list_item == 123 %}
                <li>{{ forloop.counter}}. The number is 123 </li>
            {% else %}
                <li>{{ forloop.counter}}. {{ my_list_item }}</li>
            {% endif %}
        {% endfor %}

</ol>
<h2>My Dic</h2>
<ul>
    {% for key, value in my_dic.items %}
    <li>{{forloop.counter}}. {{ key }}: {{ value }}</li>
    {% endfor %}

</ul>

{% endblock content %}

