{% extends "base.html" %}


{% block content %}

{% load static %}
{% if 'fototipika' in request.path %}
<div class="btn-group  " role="group">
<h1 class="btn btn-light btn-lg mb-1 rounded-pill  left badge-pill">
    <img src="{% static 'warehouse/icons/ΦΩΤΟΤΥΠΙΚΑ.png' %}" width="100" height="100" class="img-fluid" alt="fototipika">
     Φωτοτυπικά
</h1>


            <h2 class="align-text-top">
<a role="button" class="badge  badge-success badge-pill" href="{% url 'warehouse:add_fototipika' %}">

    <i class="fas fa-plus-circle"></i>
<strong >Προσθήκη</strong>
</a>
</h2>
</div>


{% elif 'toner' in request.path %}
<div class="btn-group  " role="group">
<h1 class="btn btn-light btn-lg mb-1 rounded-pill  left badge-pill">
    <img src="{% static 'warehouse/icons/ΤΟΝΕΡ.png' %}" width="100" height="100" class="img-fluid" alt="fototipika">
     Toner
</h1>

            <h2 class="align-text-top">
<a role="button" class="badge  badge-success badge-pill" href="{% url 'warehouse:add_toner' %}">

    <i class="fas fa-plus-circle"></i>
<strong >Προσθήκη</strong>
</a>
</h2>
</div>

{% elif 'melanakia' in request.path %}
<div class="btn-group  " role="group">
        <h1 class="btn btn-light btn-sm mb-1 rounded-pill  left badge-pill">
    <img src="{% static 'warehouse/icons/ΜΕΛΑΝΑΚΙΑ.png' %}" width="100" height="100" class="img-fluid" alt="ΜΕΛΑΝΑΚΙΑ">
     Μελανάκια
</h1>

            <h2 class="align-text-top">
<a role="button" class="badge  badge-success badge-pill" href="{% url 'warehouse:add_melanakia' %}">

    <i class="fas fa-plus-circle"></i>
<strong >Προσθήκη</strong>
</a>
</h2>
</div>

{% endif %}


<table class="table table-hover  table-bordered table-sm" id="data-table">

    <thead>

    <tr class="table-success">
        <th>ΕΤΑΙΡΕΙΑ</th>
         <th>ΠΟΙΟΤΗΤΑ</th>
         <th>ΑΝΑΛΩΣΙΜΟ</th>
        <th>ΠΕΡΙΓΡΑΦΗ</th>
        <th>ΚΩΔΙΚΟΣ</th>
        <th>ΤΕΜΑΧΙΑ</th>
        <th>ΤΙΜΗ</th>
        <th>ΣΥΝΟΛΟ</th>
        <th>ΣΕΛΙΔΕΣ</th>
        <th>ΠΕΛΑΤΕΣ</th>
        <th>ΠΑΡΑΤΗΡΗΣΗΣ</th>




    </tr>
    </thead>
    <tbody>

    {% for obj in object_list  %}
    <tr align="center">

        <td><a href="{{ obj.get_absolute_url }}">{{ obj.ΕΤΑΙΡΕΙΑ|default_if_none:"--" }}</a> </td>
        <td><a href=" {{ obj.get_absolute_url }}">{{ obj.ΠΟΙΟΤΗΤΑ|default_if_none:"--" }}</a> </td>
        <td><a href=" {{ obj.get_absolute_url }}">{{ obj.ΑΝΑΛΩΣΙΜΟ|default_if_none:"--" }}</a> </td>


        <td><a href=" {{ obj.get_absolute_url }}">{{ obj.ΠΕΡΙΓΡΑΦΗ|slice:":30"|default_if_none:"--" }}</a> </td>
        <td><a href=" {{ obj.get_absolute_url }}">{{ obj.ΚΩΔΙΚΟΣ|default_if_none:"--" }} </a> </td>
        <td><a href=" {{ obj.get_absolute_url }}">{{ obj.ΤΕΜΑΧΙΑ|default_if_none:"--" }}</a> </td>

        <td><a   href=" {{ obj.get_absolute_url }}" >{{ obj.ΤΙΜΗ|default_if_none:"--" }} </a></td>

        <td><a   href=" {{ obj.get_absolute_url }}">{{ obj.ΣΥΝΟΛΟ|default_if_none:"--" }} </a></td>
        <td><a  href=" {{ obj.get_absolute_url }}">{{ obj.ΣΕΛΙΔΕΣ|default_if_none:"--" }} </a></td>
        <td><a  href="{{ obj.get_absolute_url }}">{{ obj.ΠΕΛΑΤΕΣ|default_if_none:"--" }} </a></td>

        <td><a  href=" {{ obj.get_absolute_url }}">{{ obj.ΠΑΡΑΤΗΡΗΣΗΣ|default_if_none:"--" }} </a></td>

    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
     <tr class="table-success">
      <th>ΕΤΑΙΡΕΙΑ</th>
         <th>ΠΟΙΟΤΗΤΑ</th>
         <th>ΑΝΑΛΩΣΙΜΟ</th>
        <th>ΠΕΡΙΓΡΑΦΗ</th>
        <th>ΚΩΔΙΚΟΣ</th>
        <th>ΤΕΜΑΧΙΑ</th>
        <th>ΤΙΜΗ</th>
        <th>ΣΥΝΟΛΟ</th>
        <th>ΣΕΛΙΔΕΣ</th>
        <th>ΠΕΛΑΤΕΣ</th>
        <th>ΠΑΡΑΤΗΡΗΣΗΣ</th>




    </tr>

    </tfoot>
</table>


<p>
    <button type="button" class="btn btn-info" onclick="goBack()">Πίσω</button>

</p>
<script>
function goBack() {
  window.history.back();
}
</script>


{% endblock %}



